.u-section-1 .u-sheet-1 {min-height: 652px}
.u-section-1 .u-custom-html-1 {min-height: 458px; width: 807px; height: auto; margin: 86px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 599px}
.u-section-1 .u-custom-html-1 {min-height: 455px; width: 800px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 438px}
.u-section-1 .u-custom-html-1 {min-height: 410px; margin-bottom: 34px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 407px}
.u-section-1 .u-custom-html-1 {min-height: 310px; margin-bottom: 26px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 290px}
.u-section-1 .u-custom-html-1 {min-height: 195px; margin-bottom: 24px; width: auto; margin-right: initial; margin-left: initial} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 358px}
.u-section-2 .u-text-1 {font-size: 3rem; width: 800px; margin: 65px auto 0}
.u-section-2 .u-text-2 {width: 578px; margin: 49px auto 0}
.u-section-2 .u-btn-1 {background-image: none; text-transform: uppercase; font-size: 1.125rem; letter-spacing: 2px; border-style: solid; margin: 35px auto 60px} 

@media (max-width: 1199px){ .u-section-2 .u-btn-1 {padding: 6px 24px 7px 23px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {width: 720px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {width: 540px}
.u-section-2 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px}
.u-section-2 .u-text-2 {width: 340px} }